<div class="container-fluid">
  <!--NavBar-->
  <nav class="navbar navbar-light bg-light header">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <img src="assets/img/header.png" class="img-fluid" alt="logo-banco"/>
      </span>
    </div>
  </nav>
  <!--Container Cuerpo-->
  <div class="container-body">
    <div class="button-back">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </div>
  </div>
  <!--Footer-->
  <nav class="navbar navbar-light bg-light footer">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <img src="assets/img/footer.jpg" class="img-fluid" alt="logo-banco"/>
      </span>
    </div>
  </nav>
</div>